# Ignore node_modules
node_modules/

# Ignore build folder
build/

# Ignore any specific files you don't want to track
*.log
.env

# DO NOT IGNORE the frontend or backend directories
!frontend/
!backend/
